<%= form_tag admin_sessions_path, id: 'login' do %>
    <h1>登录</h1>
    <fieldset id="inputs">
      <%= text_field_tag :login, params[:login], placeholder: '用户名', id: 'username' %>
      <%= password_field_tag :password, nil, placeholder: '密码', id: 'password' %>
    </fieldset>

    <fieldset id="actions">
      <input type="submit" id="submit" value="登录">
    </fieldset>
<% end %>