<div class="car-models"  id="carmodels">
  <input type="hidden" id="selectedCarType" value="" />
  <div class="shanghai-car-types">
      <a href="javascript:;" onclick="xuanzhongcx(this,'tricycle',1);">三轮车<span class="ico"></span><p>起步价格：25.0元（含10公里）<br>超公里费：3.0元/公里</p></a>

      <a href="javascript:;" onclick="xuanzhongcx(this,'sbread', 2);">小型面包车<span class="ico"></span><p>起步价格：60.0元（含10公里）<br>超公里费：4.0元/公里</p></a>

      <a href="javascript:;" onclick="xuanzhongcx(this,'mbread', 3);">中型面包车<span class="ico"></span><p>起步价格：80.0元（含10公里）<br>超公里费：4.5元/公里</p></a>

      <a href="javascript:;" onclick="xuanzhongcx(this,'bbread', 4);">大型面包车<span class="ico"></span><p>起步价格：100.0元（含10公里）<br>超公里费：5.0元/公里</p></a>

      <a href="javascript:;" onclick="xuanzhongcx(this,'struck', 5);">小型货车<span class="ico"></span><p>起步价格：125.0元（含10公里）<br>超公里费：5.5元/公里</p></a>

      <a href="javascript:;" onclick="xuanzhongcx(this,'mtruck', 6);">中型货车<span class="ico"></span><p>起步价格：145.0元（含10公里）<br>超公里费：6.0元/公里</p></a>

      <a href="javascript:;" onclick="xuanzhongcx(this,'btruck', 7);">大型货车<span class="ico"></span><p>起步价格：255.0元（含10公里）<br>超公里费：7.0元/公里</p></a>
    </div>

  <div class="beijing-car-types" style="display: none;">
    <a href="javascript:;" onclick="xuanzhongcx(this,'tricycle',1);">三轮车<span class="ico"></span><p>起步价格：25.0元（含10公里）<br>超公里费：3.0元/公里</p></a>

    <a href="javascript:;" onclick="xuanzhongcx(this,'sbread', 2);">小型面包车<span class="ico"></span><p>起步价格：50.0元（含10公里）<br>超公里费：4.0元/公里</p></a>

    <a href="javascript:;" onclick="xuanzhongcx(this,'mbread', 3);">中型面包车<span class="ico"></span><p>起步价格：75.0元（含10公里）<br>超公里费：4.5元/公里</p></a>

    <a href="javascript:;" onclick="xuanzhongcx(this,'bbread', 4);">大型面包车<span class="ico"></span><p>起步价格：95.0元（含10公里）<br>超公里费：5.0元/公里</p></a>

    <a href="javascript:;" onclick="xuanzhongcx(this,'struck', 5);">小型货车<span class="ico"></span><p>起步价格：115.0元（含10公里）<br>超公里费：5.5元/公里</p></a>

    <a href="javascript:;" onclick="xuanzhongcx(this,'mtruck', 6);">中型货车<span class="ico"></span><p>起步价格：155.0元（含10公里）<br>超公里费：7.0元/公里</p></a>

    <a href="javascript:;" onclick="xuanzhongcx(this,'btruck', 7);">大型货车<span class="ico"></span><p>起步价格：298.0元（含10公里）<br>超公里费：8.0元/公里</p></a>
  </div>

  <div class="qingdao-car-types" style="display: none;">
    <a href="javascript:;" onclick="xuanzhongcx(this,'tricycle',1);">三轮车<span class="ico"></span><p>起步价格：25.0元（含10公里）<br>超公里费：3.0元/公里</p></a>

    <a href="javascript:;" onclick="xuanzhongcx(this,'sbread', 2);">小型面包车<span class="ico"></span><p>起步价格：50.0元（含10公里）<br>超公里费：3.0元/公里</p></a>

    <a href="javascript:;" onclick="xuanzhongcx(this,'mbread', 3);">中型面包车<span class="ico"></span><p>起步价格：70.0元（含10公里）<br>超公里费：4.0元/公里</p></a>

    <a href="javascript:;" onclick="xuanzhongcx(this,'bbread', 4);">大型面包车<span class="ico"></span><p>起步价格：80.0元（含10公里）<br>超公里费：4.0元/公里</p></a>

    <a href="javascript:;" onclick="xuanzhongcx(this,'struck', 5);">小型货车<span class="ico"></span><p>起步价格：90.0元（含10公里）<br>超公里费：5.0元/公里</p></a>

    <a href="javascript:;" onclick="xuanzhongcx(this,'mtruck', 6);">中型货车<span class="ico"></span><p>起步价格：100.0元（含10公里）<br>超公里费：5.0元/公里</p></a>

    <a href="javascript:;" onclick="xuanzhongcx(this,'btruck', 7);">大型货车<span class="ico"></span><p>起步价格：120.0元（含10公里）<br>超公里费：6.0元/公里</p></a>

    <a href="javascript:;" onclick="xuanzhongcx(this,'ltruck', 8);">超大型货车<span class="ico"></span><p>起步价格：200.0元（含10公里）<br>超公里费：8.0元/公里</p></a>
  </div>

  <div class="wuhan-car-types" style="display: none;">
    <a href="javascript:;" onclick="xuanzhongcx(this,'tricycle',1);">三轮车<span class="ico"></span><p>起步价格：25.0元（含10公里）<br>超公里费：3.0元/公里</p></a>

    <a href="javascript:;" onclick="xuanzhongcx(this,'sbread', 2);">小型面包车<span class="ico"></span><p>起步价格：50.0元（含10公里）<br>超公里费：3.0元/公里</p></a>

    <a href="javascript:;" onclick="xuanzhongcx(this,'mbread', 3);">中型面包车<span class="ico"></span><p>起步价格：80.0元（含10公里）<br>超公里费：4.0元/公里</p></a>

    <a href="javascript:;" onclick="xuanzhongcx(this,'bbread', 4);">大型面包车<span class="ico"></span><p>起步价格：95.0元（含10公里）<br>超公里费：4.0元/公里</p></a>

    <a href="javascript:;" onclick="xuanzhongcx(this,'struck', 5);">小型货车<span class="ico"></span><p>起步价格：105.0元（含10公里）<br>超公里费：5.0元/公里</p></a>

    <a href="javascript:;" onclick="xuanzhongcx(this,'mtruck', 6);">中型货车<span class="ico"></span><p>起步价格：115.0元（含10公里）<br>超公里费：5.0元/公里</p></a>

    <a href="javascript:;" onclick="xuanzhongcx(this,'btruck', 7);">大型货车<span class="ico"></span><p>起步价格：135.0元（含10公里）<br>超公里费：6.0元/公里</p></a>
  </div>

</div>